<div class="booking-index">
<% if @bookings.present? then %>
  <h1 class="ui header">Your Bookings</h1>
  <%= render partial: 'bookings/partials/booking_index', collection: @bookings, as: :booking %>
<% else %>
  <div class="ui warning message"> You have no bookings </div>
<% end %>
</div>