<h1>Listing bookings</h1>
 
<table>
  <tr>
    <th>Date</th>
    <th></th>
  </tr>
 
  <% @booking.each do |b| %>
    <tr>
      <td><%= b.date %></td>
      <td><%= link_to 'Show', booking_path(b) %></td>
    </tr>
  <% end %>
</table>