<h1>Your bookings</h1>
 
<% if @booking.present? then %>
<table>
  <tr>
    <th>Booking code</th>
    <th>View details</th>
  </tr>
 
  <% @booking.each do |b| %>
    <tr>
      <td><%= b.booking_code %></td>
      <td><%= link_to 'Show', booking_path(b) %></td>
    </tr>
  <% end %>
</table>
<% else %>
<p> You have no bookings </p>
<% end %>