<p>
  <strong>Title:</strong>
  <%= @booking.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @booking.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.text %>
</p>

<p>
  <strong>Text:</strong>
  <%= @booking.text %>
</p>