<table class="ui very basic collapsing celled table">
  <thead>
    <tr>
    <th>Booking code</th>
    <th>Date</th>
    <th>Room Title</th>
    <th>Room Address</th>
    <th>Room Image</th>
  </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= booking.booking_code %></td>
      <td><%= booking.date %></td>
      <td><%= room.title %></td>
      <td><%= room.image %></td>
    </tr>
  </tbody>
</table>
